.git/**/*
.vscode/**/*

# for npm
node_modules/
npm-shrinkwrap.json

**/*.ts
!**/*.d.ts
**/*.js.map

# codes
__test__/

# misc
.gitignore
.prettierignore
.prettierrc
.editorconfig
.travis.yml
tsconfig.json
tslint.json

npm-debug.log
